<a href="https://colab.research.google.com/github/Miguel-SG6/Administracion-Avanzada-de-Infra-Virtualizada/blob/main/AID_P2_T3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIO 1

In [2]:
import pandas as pd

ini = int(input('Introduce el año inicial: '))
fin = int(input('Introduce el año final: '))
ventas = {}
for i in range(ini, fin+1):
    ventas[i] = float(input('Introduce las ventas del año ' + str(i) +': '))
ventas = pd.Series(ventas)
print('Ventas\n', ventas)
print('Ventas con descuento\n', ventas*0.9)

Introduce el año inicial: 2019
Introduce el año final: 2020
Introduce las ventas del año 2019: 300
Introduce las ventas del año 2020: 256
Ventas
 2019    300.0
2020    256.0
dtype: float64
Ventas con descuento
 2019    270.0
2020    230.4
dtype: float64

EJERCICIO 2

In [3]:
import pandas as pd

def estad_calificaciones(calif):
    calif = pd.Series(calif)
    estadistica = pd.Series([calif.min(), calif.max(), calif.mean(), calif.std()], index=['Minima', 'Maxima', 'Media', 'Desviación típica'])
    return estadistica

calif = {'PAQUITO':5.1, 'JUANITO':9.5, 'PANFILO':7, 'CARLOS': 8.5, 'ANGELITO': 6}
print(estad_calificaciones(calif))

Minima               5.1000
Maxima               9.5000
Media                7.2200
Desviación típica    1.7936
dtype: float64

EJERCICIO 3

In [4]:
import pandas as pd

def alum_aprobados(calif):
    calif = pd.Series(calif)
    return calif[calif >= 5].sort_values(ascending=False)

calif = {'PAQUITO':5.1, 'JUANITO':9.5, 'PANFILO':7, 'CARLOS': 8.5, 'ANGELITO': 6}
print(alum_aprobados(calif))

JUANITO     9.5
CARLOS      8.5
PANFILO     7.0
ANGELITO    6.0
PAQUITO     5.1
dtype: float64

EJERCICIO 4

In [5]:
import pandas as pd

datos = [['Enero', 30500, 22000], ['Febrero', 35600, 23400], ['Marzo', 28300, 18100], ['Abril', 33900,20700]]
contabilidad = pd.DataFrame(datos, columns=['Mes', 'Ventas', 'Gastos'])
print(contabilidad)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

EJERCICIO 5

In [10]:
import pandas as pd

def url (fichero):
    df = pd.read_csv(fichero, sep=';', decimal=',', thousands='.', index_col=0)
    return pd.DataFrame([df.min(), df.max(), df.mean()], index=['Mínimo', 'Máximo', 'Media'])
url('https://raw.githubusercontent.com/Miguel-SG6/EJERCICIOS/main/cotizacion.csv')

               Final        Máximo        Mínimo       Volumen    Efectivo
Mínimo      1.016500      4.067500      1.016500  1.221000e+03    2343.090
Máximo  19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440
Media    2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778